<!DOCTYPE html>
<html class="uk-text-center uk-background-muted">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/uikit.min.css" />
    <script src="static/js/uikit.min.js"></script>
    <script src="static/js/uikit-icons.min.js"></script>
    <script src="static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body class="uk-text-center uk-background-muted">
    {% block body %} {% endblock %}
</body>

<br>
<footer class="uk-text-center uk-background-muted">
    <p>Made with ☕ by Harsh Patel</p>
</footer>