<!DOCTYPE html>
<html class="uk-text-center uk-background-muted">

<head>
    <title>{{ context['name'] }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/uikit.min.css" />
    <script src="static/js/uikit.min.js"></script>
    <script src="static/js/uikit-icons.min.js"></script>
    <script src="static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body class="uk-text-center uk-background-muted" style="font-family: 'helvetica'">

    <div class="uk-position-relative">
        <div class="uk-position-top" >

            <nav class="uk-navbar-container uk-navbar-transparent" style="display:block" uk-navbar>
                    <div class="uk-navbar-item">
  
  
                    <ul class="uk-navbar-nav">

                        <li>
                            <a href="#About" uk-scroll>About Me</a>
                        </li>
                        <li>
                            <a>Skills</a>
                            <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-justify">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {% for index in range(context['skill_types']|length) %}
                                    <strong>
                                        <li class="uk-nav-header">

                                            <a href="#{{context['skill_types'][index]['name'] }}" uk-scroll>{{ context['skill_types'][index]['name'] }}</a>

                                        </li>
                                    </strong>

                                    {% for skill in context['skill_types'][index]['skills'] %}
                                    <li>
                                        <a href="#{{ skill['id'] }}" uk-scroll>{{ skill['name'] }}</a>
                                    </li>
                                    {% endfor %} {% endfor %}

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#Contact_Me" uk-scroll>Contact Me</a>
                        </li>


                    </ul>
          
    
             
            </div>    
            <div class="uk-navbar-item">
                <ul class="uk-navbar-nav">
                    <li>
                            <a href="{{url_for('download_file')}}"><span uk-icon="icon: download;ratio:1"></span></a>
                    </li>
                    <li>
                            <a href="https://www.linkedin.com/in/harsh-patel-ab375784"><span uk-icon="icon: linkedin;ratio:1"></span></a>
                    </li>
                    <li>
                        <a href="https://github.com/harsh1498"><span uk-icon="icon: github;ratio:1"></span></a>
                    </li>
                </ul>
            </div>

            </nav>

        </div>
    </div>
<div class="uk-container">
    <a href="" style="z-index:1000" class="uk-position-bottom-right uk-position-fixed uk-background-transparent" uk-totop="ratio:3" uk-scroll></a>
</div>
    <div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="height:100vh;background-image: linear-gradient(-25deg, blue,red );">
        <img class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical " uk-parallax="opacity: 1,0.5; y:
	0,100; viewport: 1 " src="static/images/Logo.svg">
    </div>

    <div id="About" class="uk-section uk-section-muted uk-text-left">
        <div class="uk-container">

            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3>About Me</h3>
                    <p>{{ context['elevator_pitch'] }}</p>
                </div>
            </div>
            <br>
            <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Major</h3>
                        {% for key,value in context['major'].items() %}
                        <p>
                            <strong>{{ key }}:</strong> {{ value }}</p>
                        {% endfor %}

                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Current Job</h3>
                        {% for key,value in context['current_title'].items() %}
                        <p>
                            <strong>{{ key }}:</strong> {{ value }}</p>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <br>
            <div>
                    <div id="courses-header" class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title uk-text-center">Courses</h3>
                        <button class="uk-button uk-button-secondary uk-align-center" uk-toggle="target: #courses" type="button">Toggle Courses</button>
                        <table id="courses" class="uk-table uk-table-justify uk-table-divider" hidden>
                            <thead>
                                <tr>
                                    <th>Course Tag</th>
                                    <th>Course Title</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for course in context['courses'] %}
                                    <tr id="{{course['name']}}">
                                        <td>{{course['name']}}</td>
                                        <td>{{course['title']}}</td>
                                        <td>{{course['description']}}</td>
                                    </tr>
                                    {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>


        </div>

    </div>
    {% for skill in context['skill_types'] %} {% set img = skill['name'] %}
    <div id={{skill['name']}} class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="background-image: linear-gradient(-25deg,{{skill['gradient-to']}},{{skill['gradient-from']}});">

        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical " uk-parallax="opacity: 0,1; y:
        100,0; viewport: 0.5 ">{{ skill['name'] }}</h1>



    </div>
    <div class="uk-container">
    {% for s in skill['skills'] %}
    <!-- <div class="uk-container"> -->
    <div id="{{ s['id'] }}" class="uk-section-default">
        <div class="uk-section uk-section-muted ">
            <div class="uk-container ">
                {% if s['example-type'] != '' %}
                <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                {% else %}
                <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                {% endif %}
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <img class="uk-position-center uk-position-relative" src="{{ s['image'] }}" style="max-width:200px;max-height:200px">
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        {% for course in s['courses'] %}
                        <a href="#courses-header" uk-scroll>
                        <span class="uk-badge">{{course['tag']}}</span>
                        </a>

                        {% endfor %}
                        <h3 class="uk-card-title">{{s['name']}}</h3>
                        {% for k,v in s['descriptions'].items() %}
                        <h5 class="uk-text-center">{{k}}</h5>
                        <p class="uk-text-justify">{{v}}</p>
                        {% endfor  %}
                    </div>
                </div>
                    <!-- {% if s['example-type'] != ''  %}
                    <div class="uk-card uk-card-default uk-card-body">
                        <a class="uk-button uk-button-default
                            uk-position-relative uk-position-center"
                            href="#{{s['id']}}example" uk-toggle>Open</a>

                        <div id="{{s['id']}}example" class="uk-modal-full" uk-modal>
                            <div class="uk-modal-dialog">
                                <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                                <div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
                                    <div class="uk-padding-large">
                                        <h1>{{s['name']}}</h1>
                                        {% if s['example-type'] == "code" %}
                                        
                                            <script src={{s['gist-url']}}></script>
                                    
                                        </code>
                                        {% else %}
                                        <p class="uk-text-danger">Examples to Come SOON!!!</p>
                                        {% endif %}
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif  %} -->
                </div>

            </div>
        </div>
    </div>
</div>
    {% endfor %} </div>{% endfor %}



    <div id="Contact_Me" class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top " style="background-image: linear-gradient(-25deg,blue,red);">
            {% if visitors_name %}
            <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical " uk-parallax="opacity: 0,1; y:
            100,0; viewport: 0.5 ">{{visitors_name}}, I will get back to you soon!</h1>
 
            {% else %}
            <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical " uk-parallax="opacity: 0,1; y:
            100,0; viewport: 0.5 ">Contact Me</h1>
{% endif %}
    </div>

    <div class="uk-section uk-background-muted ">
        
            {% if not visitors_name %}

        <form class="uk-text-center uk-margin-auto uk-form-width-medium" method='POST'>
  
            <div class="uk-margin ">

                    <input class="uk-input" placeholder="Full Name" name="name"
                    type="text" required>

            </div>

            <div class="uk-margin ">
      
                    <input class="uk-input" placeholder="5555555555" name="phone" type="tel"
                    required>
       
            </div>

            <div class="uk-margin ">
          
                    <input class="uk-input" placeholder="example@gmail.com"
                    name="e-mail" type="email" required>
            
            </div>

            <div class="uk-margin ">
       
                    <textarea class="uk-textarea" rows="5" placeholder="Hey Harsh ..." name="message" required></textarea>
          
            </div>
            <div class="uk-margin ">
                <div uk-form-custom>
                    <button class="uk-button uk-button-secondary " type="submit " tabindex="-1 ">Submit</button>
                </div>
            </div>
        </form>
        {% else %}

<div class="uk-flex uk-flex-center">
        <div class="uk-card uk-card-default uk-width-1-2@m">
                <div class="uk-card-header uk-text-left">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">{{visitors_name}}'s Message</h3>
                            <p class="uk-text-meta uk-margin-remove-top">Email: {{visitors_email}}<br>Phone Number: {{visitors_phone}}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body uk-text-left">
                    <p>{{visitors_message}}</p>
                </div>
                <div class="uk-card-footer uk-text-left">
                    <p class="uk-text-success">I will get back to you ASAP</p>
                </div>
            </div>
</div>
        {% endif %}

    </div>
</body>
<br>
<footer class="uk-text-center uk-background-muted">
    <p>Made with ☕ by Harsh Patel</p>
</footer>

</html>
