{% extends 'base.html' %} {% block title %} {{feedback['status']}} {% endblock %} {% block body %} {% if feedback %}

<div class="uk-card uk-width-1-1@m">
    <div class="uk-card-header">
        <h3 class="uk-card-title">{{feedback['status']}}</h3>
    </div>
    <div class="uk-card-body">
        <p>{{feedback['message']}}</p>
    </div>
    <div class="uk-card-footer">
        <a class="uk-button uk-button-default" href="{{url_for('index')}}">Click Here To Go Back</a>

    </div>
</div>

{% endif %} {% endblock %}